@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Removes default style and sets the font-family*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
/*Sets the background*/
body {
    height: 100vh;
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFE91F;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Sets style to score-box*/
.score-box {
    color: #FFE91F;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score-box h2 {
    font-size: 2rem;
}
.score-box p {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
/*Sets style to Welcome section*/
.welcome {
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.8s ease;
    
}
.welcome h1 {
    font-size: 4rem;
    color: #FFE91F

}

.welcome button {
    width: 10rem;
    height: 4rem;
    background: none;
    border: none;   
    color: #FFE91F;
    font-size: 2rem;
    background: #B534D2;
    border-radius: 0.5rem;
    cursor: pointer;   
}
/*Sets style to the players*/
.game-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.8s;
    
}
/*Styles the rounds-left*/
.rounds-left {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
/*Sets style to the result message*/
.winlose{
    color: #FFE91F;
    text-align:center;
    font-size: 2rem;
}
/*Sets style to the player and computer hand*/
.weapons {
    display:flex;
    justify-content: space-evenly;
    padding: 5rem;
    height: 40vh;
    width: 100%;
    
    
}
/*Sets style to the diffrent buttons to play*/
.player-choices {
    display:flex;
    justify-content: space-evenly;
    justify-items: center;
}

.player-choices button {
    flex-basis: 100%;
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    background: none;
    border: none;
    color: #FFE91F;
    font-size: 1.5rem;
    background: #B534D2;
    border-radius: 0.5rem;
    cursor: pointer;
}

.play-again {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 4rem;
    background: none;
    border: none;
    color: #FFE91F;
    font-size: 2rem;
    background: #B534D2;
    border-radius: 0.5rem;
    cursor: pointer;
    
} 
/*Sets style to fade out and fade in for different screens in the game*/
div.fadeOut{
    opacity: 0;
    pointer-events: none;
}
div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes userShake {
    0%{
        transform: rotateY(180deg) translateY(opx);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    50%{
        transform: rotateY(180deg) translateY(opx);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    75%{
        transform: rotateY(180deg) translateY(opx);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    100%{
        transform: rotateY(180deg) translateY(opx);
    }
}
    @keyframes compShake {
        0%{
            transform: rotateY(180deg) translateY(opx);
        }
        15%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        25%{
            transform: rotateY(180deg) translateY(0px);
        }
        35%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        50%{
            transform: rotateY(180deg) translateY(opx);
        }
        65%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        75%{
            transform: rotateY(180deg) translateY(opx);
        }
        85%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        100%{
            transform: rotateY(180deg) translateY(opx);
        }
}