@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Removes default style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
/*Sets the background*/
section {
    height: 100vh;
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFE91F;
    font-family: 'Russo One', sans-serif;
}
/*Sets style to score-box*/
.score-box {
    color: #FFE91F;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score-box h2 {
    font-size: 30px;
}
.score-box p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
/*Sets style to Welcome section*/
.welcome {
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.8s ease;
    
}
.welcome h1 {
    font-size: 4rem;
    color: #FFE91F

}

.welcome button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;   
    color: #FFE91F;
    font-size: 20px;
    background: #B534D2;
    border-radius: 3px;
    cursor: pointer;   
}
/*Sets style to the players*/
.game-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.8s;
}
/*Sets style to the result message*/
.winlose{
    color: #FFE91F;
    text-align:center;
    font-size: 3rem;
}
/*Sets style to the player and computer hand*/
.weapons {
    display:flex;
    justify-content: space-around;
    
}
/*Sets style to the diffrent buttons to play*/
.choices {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.choices button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;   
    color: #FFE91F;
    font-size: 20px;
    background: #B534D2;
    border-radius: 3px;
    cursor: pointer;
}
/*Sets style to fade out and fade in for different screens in the game*/
div.fadeOut{
    opacity: 0;
    pointer-events: none;
}
div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes userShake {
    0%{
        transform: rotateY(180deg) translateY(opx);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    50%{
        transform: rotateY(180deg) translateY(opx);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    75%{
        transform: rotateY(180deg) translateY(opx);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px); 
    }
    100%{
        transform: rotateY(180deg) translateY(opx);
    }
}
    @keyframes compShake {
        0%{
            transform: rotateY(180deg) translateY(opx);
        }
        15%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        25%{
            transform: rotateY(180deg) translateY(0px);
        }
        35%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        50%{
            transform: rotateY(180deg) translateY(opx);
        }
        65%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        75%{
            transform: rotateY(180deg) translateY(opx);
        }
        85%{
            transform: rotateY(180deg) translateY(-50px); 
        }
        100%{
            transform: rotateY(180deg) translateY(opx);
        }
}