@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*Removes default style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    font-family: 'Russo One', sans-serif;
    background: url("../images/background.webp");
}

.score-box {
    color: #FFE91F;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score-box h2 {
    font-size: 30px;
}
.score-box p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.welcome-rules {
    background: url("../images/background.webp");
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
}
.welcome-rules h1 {
    font-size: 55px;

}

.welcome-rules button 
.game-play button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;   
    color: #FFE91F;
    font-size: 20px;
    background-color: #B534D2;
    border-radius: 3px;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.game-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.winner{
    color: #FFE91F;
    text-align:center;
    font: 55px;
}

.weapon,
.options {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

div.fadeOut {
    opacity: ;
}

